body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  /* -webkit-box-sizing: border-box; */
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  /* -webkit-transition: all .2s linear; */
  transition: all .2s linear;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: #333;
}

.heading span {
  color: #795548;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: .5rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  background: #795548;
}

.btn:hover {
  background: #333;
}

/* @-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5); 
    transform: scale(0.5);
    opacity: 0;
  }
} */

@keyframes fadeIn {
  0% {
    /* -webkit-transform: scale(0.5); */
            transform: scale(0.5);
    opacity: 0;
  }
}

.header {
  position: sticky;
  /*position: sticky; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #795548;
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-align: center;
      -ms-flex-align: center; */
  align-items: center;
  /* -webkit-box-pack: justify;
      -ms-flex-pack: justify; */
  justify-content: space-between;
  padding: 1rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.header .logo i {
  color: gold;
}

.header .search-form {
  border-radius: 5rem;
  height: 5rem;
  width: 50rem;
  padding: 0 2rem;
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-align: center;
      -ms-flex-align: center; */
          align-items: center;
  background: #fff;
}

.header .search-form input {
  width: 100%;
  padding-right: 1rem;
  font-size: 1.7rem;
  text-transform: none;
  color: #666;
}

.header .search-form label {
  font-size: 2rem;
  color: #666;
  cursor: pointer;
}

.header .search-form label:hover {
  color: #795548;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  color: #fff;
  cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
  color: gold;
}

#search-btn {
  display: none;
}

.side-bar {
  position: fixed;
  top: 0;
  left: -110%;
  height: 100%;
  width: 30rem;
  background: #fff;
  z-index: 10000;
}

.side-bar.active {
  left: 0;
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
}

.side-bar #close-side-bar {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #666;
}

.side-bar #close-side-bar:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #333;
}


.side-bar .navbar {
  padding-top: 1rem;
}

.side-bar .navbar a {
  display: block;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  color: #666;
}

.side-bar .navbar a:hover {
  color: #795548;
}

.side-bar .navbar a:hover i {
  padding-right: 2rem;
}

.side-bar .navbar a i {
  padding-right: .5rem;
}

.home {
  background: #fff;
}

.home .slide {
  /* display: -webkit-box;
  display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-align: center;
      -ms-flex-align: center; */
          align-items: center;
  /* -ms-flex-wrap: wrap; */
      flex-wrap: wrap;
  gap: 2rem;
  min-height: 40rem;
  padding: 2rem 0;
}

.home .slide .image {
  /* -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;*/
          flex: 1 1 42rem; 
  text-align: center;
}

.home .slide .image img {
  height: 30rem;
}

.home .slide .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .slide .content span {
  font-size: 2rem;
  color: #795548;
}

.home .slide .content h3 {
  padding-top: .5rem;
  color: #333;
  font-size: 3rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #333;
}

.banner .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.banner .box-container .box {
  position: relative;
  height: 50rem;
  border: 0.7rem solid #795548;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 25px rgb(163 163 163 / 48%);
  box-shadow: 10px 10px 25px rgb(163 163 163 / 48%);
}

.banner .box-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.banner .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .box-container .box .content {
  position: absolute;
  bottom: 0%;
  text-align: center;
  width: 100%;
  background: white;
  padding-top: 10px;
  padding-bottom: 16px;
}

.banner .box-container .box .content span {
  font-size: 1.7rem;
  color: #795548;
}

.banner .box-container .box .content h3 {
  font-size: 2rem;
  padding: .5rem 0;
  color: #333;
}

.arrivals .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  gap: 2rem;
}

.arrivals .box-container .box {
  border-radius: .5rem;
  border: 0.2rem solid #795548;
  padding: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  background: #fff;
}

.arrivals .box-container .box .image img {
  height: 15rem;
  -webkit-animation: fadeIn .2s linear;
          animation: fadeIn .2s linear;
}


.arrivals .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}

.arrivals .box-container .box .content .price {
  padding-top: .5erm;
  font-size: 2rem;
  color: #795548;
  padding-bottom: .7rem;
}

.arrivals .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}



.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding: 3rem;
  background: #fff;
}

.about .content h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #333;
}

.about .content p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

.faq .accordion-container {
  max-width: 70rem;
  margin: 0 auto;
}

.faq .accordion-container .accordion {
  background: #fff;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.faq .accordion-container .accordion:last-child {
  margin-bottom: .5rem;
}

.faq .accordion-container .accordion.active .accordion-heading {
  background: #795548;
}

.faq .accordion-container .accordion.active .accordion-heading i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .accordion-container .accordion.active .accordioin-content {
  display: block;
}

.faq .accordion-container .accordion .accordion-heading {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #333;
  cursor: pointer;
}

.faq .accordion-container .accordion .accordion-heading h3 {
  font-size: 2rem;
  color: #fff;
}

.faq .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  color: #fff;
}

.faq .accordion-container .accordioin-content {
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  display: none;
  -webkit-animation: fadeIn .2s linear;
          animation: fadeIn .2s linear;
}

.category .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

.category .box-container .box {
  text-align: center;
  border-radius: .5rem;
  border: 0.2rem solid #333;
  padding: 2rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.category .box-container .box:hover {
  background: #333;
}

.category .box-container .box:hover h3 {
  color: #fff;
}

.category .box-container .box img {
  height: 8rem;
  margin-bottom: .5rem;
}

.category .box-container .box h3 {
  font-size: 1.7rem;
  color: #333;
}

.products .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.products .box-container .box {
  border: 0.2rem solid #333;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  overflow: hidden;
}

.products .box-container .box .image {
  position: relative;
}

.products .box-container .box .image img {
  height: 30rem;
  -webkit-animation: fadeIn .2s linear;
          animation: fadeIn .2s linear;
}



.products .box-container .box .content {
  padding: 2rem;
}

.products .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}

.products .box-container .box .content .price {
  font-size: 2.2rem;
  color: #795548;
  padding-bottom: .7rem;
  padding-top: .5rem;
}

.products .box-container .box .content .price span {
  color: #666;
  font-size: 1.5rem;
  text-decoration: line-through;
}

.info-container .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.info-container .box-container .box {
  background: #fff;
  border-radius: .5rem;
  text-align: center;
  padding: 2rem;
  border: 0.2rem solid #333;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.info-container .box-container .box i {
  height: 7.5rem;
  width: 7.5rem;
  line-height: 7.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  margin-bottom: .5rem;
  background: #795548;
  color: #fff;
}

.info-container .box-container .box h3 {
  font-size: 2rem;
  padding: .5rem 0;
  color: #333;
}

.info-container .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
}

.register form,
.login form {
  max-width: 40rem;
  border-radius: .5rem;
  padding: 2rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.2rem solid #333;
  margin: 1rem auto;
}

.register form h3,
.login form h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #333;
  text-transform: uppercase;
}

.register form .box,
.login form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: .5rem;
  border: 0.2rem solid #333;
  font-size: 1.6rem;
  color: #666;
  text-transform: none;
  margin: .7rem 0;
}

.register form .remember,
.login form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.register form .remember label,
.login form .remember label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.register form .btn,
.login form .btn {
  width: 100%;
  text-align: center;
}

.register form .btn.link,
.login form .btn.link {
  background: #333;
}

.register form .btn.link:hover,
.login form .btn.link:hover {
  background: #795548;
}

.register form p,
.login form p {
  padding-top: 2rem;
  font-size: 1.5rem;
  color: #666;
  text-align: center;
  padding-bottom: 1rem;
}

.shopping-cart .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.shopping-cart .box-container .box {
  padding: 2rem;
  border: 0.2rem solid #333;
  background: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  position: relative;
}

.shopping-cart .box-container .box .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.5rem;
  color: #666;
  cursor: pointer;
}

.shopping-cart .box-container .box .fa-times:hover {
  color: #333;
}

.shopping-cart .box-container .box img {
  height: 12rem;
}

.shopping-cart .box-container .box .content h3 {
  font-size: 1.7rem;
  color: #333;
}

.shopping-cart .box-container .box .content form {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-cart .box-container .box .content form span {
  font-size: 1.5rem;
  color: #666;
}

.shopping-cart .box-container .box .content form input {
  width: 7rem;
  padding: .5rem 1rem;
  color: #666;
  border-radius: .5rem;
  background: #eee;
  font-size: 1.5rem;
}

.shopping-cart .box-container .box .content .price {
  font-size: 2rem;
  color: #795548;
}

.shopping-cart .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

.shopping-cart .cart-total {
  margin-top: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.2rem solid #333;
  border-radius: .5rem;
  background: #fff;
  padding: 2rem;
  padding-top: 1rem;
}

.shopping-cart .cart-total h3 {
  padding-top: 1rem;
  font-size: 2rem;
  color: #333;
}

.shopping-cart .cart-total h3 span {
  color: #795548;
}
.single_column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.single_row:after {
  content: "";
  display: table;
  clear: both;
}
.single_column img{
  max-width: 80%;
  display: block;
  margin: 0 auto;
}
.single_column p{
  font-size: 20px;
  text-align: justify;
  margin: 15px auto;
}
.single_column .single_qty{
  width: 7rem;
  padding: 0.8rem 1rem;
  color: #666;
  border-radius: 0.5rem;
  background: #eee;
  font-size: 2rem;
}
.single_column .qty_label{
  font-size: 20px;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .single_column {
    width: 100%;
  }
}
.quick-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background: #333;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quick-links .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.quick-links .logo i {
  color: gold;
}

.quick-links .links a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #fff;
}

.quick-links .links a:hover {
  color: gold;
}

.quick-links .share a {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 2rem;
}

.quick-links .share a:hover {
  color: gold;
}

.credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.credit p {
  font-size: 2rem;
  color: #666;
}

.credit p span {
  color: #795548;
}

.credit img {
  height: 4rem;
  -webkit-filter: drop-shadow(0 0 0.1rem #333);
          filter: drop-shadow(0 0 0.1rem #333);
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  .quick-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }
  .quick-links .links {
    padding: 1rem 0;
  }
  .quick-links .links a {
    display: block;
    font-size: 2rem;
    padding: 1rem 0;
  }
  .quick-links .share a {
    margin: 0 1rem;
  }
  .credit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #search-btn {
    display: inline-block;
  }
  .header .search-form {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    height: 6rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .search-form.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .home .slide {
    text-align: center;
  }
 
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .logo {
    display: none;
  }
  .header .icons a,
  .header .icons div {
    margin: 0 1rem;
  }
  .home .slide .image img {
    height: auto;
    width: 100%;
  }
  .arrivals .box-container .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 2rem;
    text-align: center;
  }
  
  .shopping-cart .cart-total {
    text-align: center;
  }
  .shopping-cart .cart-total .btn {
    width: 100%;
  }
}
